@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #ffdc9f;
  color: #1c1976;
  font-family: 'Varela Round', sans-serif;
  height: auto;
}

.title {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  margin: 0;
}

.instructions {
  font-size: xxx-large;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

section {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.start-game {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  max-width: 60vw;
  align-items: center;
}

.select-character {
  min-width: 30vw;
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}

input[type="radio"] {
  display: none;
}

.select-char-btn-label {
  border: 1px solid #1c1976;
  width: 20vw;
  height: 20vw;
  line-height: 20vw;
  text-align: center;
  font-size: 10vw;
  border-radius: 50%;
}

.select-char-btn-label:hover {
  cursor: pointer;
  background-color: #1c1976;
  color: #ffdc9f;
  transition: color 0.2s, background-color 0.2s;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.board {
  width: 60vw;
  height: 60vw;
}

.cell {
  border: 1px solid #1c1976;
  width: 20vw;
  height: 20vw;
}

.cell-value {
  font-weight: bolder;
  font-size: 300%;
}

.new-game,
.leaderboards {
  height: 5vh;
  display: flex;
  justify-content: center;
}

.game-button {
	background: #1c1976;
	color: #ffdc9f;
  border: none;
	padding: 0;
	outline: inherit;
  font-size:larger;
  width: 10rem;
  height: 5vh;
  border-radius: 5%;
}

.game-button:hover {
	cursor: pointer;
	color: #1c1976;
	background: #ffdc9f;
	border: 2px solid #1c1976;
}

.leaderboards-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboards-actions {
  display: flex;
  gap: 10vw;
}

.leaderboards-table {
  width: 80vw;
}

.leaderboards-table > tbody > tr > td,
.leaderboards-table > thead > th {
  text-align: center;
}

@media (min-width: 1000px) {
  .game {
    flex-direction: row;
    gap: 10vw;
  }

  .board {
    width: 30vw;
    height: 30vw;
  }

  .cell {
    width: 10vw;
    height: 10vw;
  }

  .cell-value {
    font-weight: bolder;
    font-size: 400%;
  }
}

@media (min-width: 600px) {

  .title {
    font-size: 400%;
  }
  
  .leaderboards-table > tbody > tr > td,
  .leaderboards-table > thead > th {
  font-size: 200%
}
}